header {
    background-color:#ff8080;
    color: #527a7a;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;

}



footer {
    background-color:#ff8080;
    color: #527a7a;
    text-align: center;
}
